<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearch>
      <indexConfigurations>
        <defaultAzureIndexConfiguration>
          <documentOptions>
            <fields hint="raw:AddComputedIndexField">
              <field fieldName="row_id">Website.ComputedFields.RowIdTextField, Website</field>
            </fields>
          </documentOptions>
        </defaultAzureIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>
